* {
	box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 100vh;
}
main {
	flex: 1;
}

//Header
.logo{
	height: 5px;
	width: 5px;
}
p{
	width:auto;
}
