@mixin aspect-ratio ($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin mrg-sections-mv() {
    padding-top: $mrg-top-sct-mv;
    padding-bottom: $mrg-btm-sct-mv;
}

@mixin mrg-sections-tb() {
    padding-top: $mrg-top-sct-tb;
    padding-bottom: $mrg-btm-sct-tb;
}

@mixin mrg-sections-dk() {
    padding-top: $mrg-top-sct-dk;
    padding-bottom: $mrg-btm-sct-dk;
}

@mixin rotate($degrees){
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
