$primaryColour: #5E0B75; //Purple
$lightcolour: #F7F9F9; //White
$softcolour: #BED8D5; //light blu_e
$darkcolour: #73D2DE; //medium blu_e
$intensecolour: #218380; //Aguamarina
$lightsecondarycolour: #BD86D8; //lavender

//margin to separate sections in home page
$mrg-top-sct-mv: 20%;
$mrg-top-sct-tb: 15%;
$mrg-top-sct-dk: 5%;
