$primaryColour: #5E0B75; //Purple
$lightcolour: #F7F9F9; //White
$softcolour: #BED8D5; //light blu_e
$darkcolour: #73D2DE; //medium blu_e
$intensecolour: #218380; //Aguamarina
$lightsecondarycolour: #BD86D8; //lavender
$colorbackground: #424242; // grey
$colorshadow: #aaaaaa; //lightgrey
$colorwhite: #fff; //white

$fontHandwriting: 'Neucha', cursive;

//margin to separate sections in home page
//Version mobile
$mrg-top-sct-mv: 20%;
//Version tablet
$mrg-top-sct-tb: 15%;
//Version desktop
$mrg-top-sct-dk: 5%;

$text-quote: #ffffff;

// images
$pathImages: '../images/';
