// colors

$primaryColour: #5E0B75; //Purple
$lightcolour: #F7F9F9; //White
$softcolour: #BED8D5; //light blu_e
$darkcolour: #73D2DE; //medium blu_e
$intensecolour: #218380; //Aguamarina
$intensecolourlight: #5DA4A2;
$lightsecondarycolour: #BD86D8; //lavender
$colorbackground: #424242; //
$colorshadow: #aaaaaa; //lightgrey
$colorwhite: #fff; //white
$colornews: #f1f2f3;
$colortitles: #555555;
$colorbtn: #BA1B1D;
$colorStatsNumber: grey;
$colorBlack: #000;
//Fonts
$fontHandwriting: 'Neucha', cursive;
$font-title: 'Oswald';

//margin to separate sections in home page
//Version mobile
$mrg-top-sct-mv: 15%;
$mrg-btm-sct-mv: 15%;
//Version tablet
$mrg-top-sct-tb: 10%;
$mrg-btm-sct-tb: 10%;
//Version desktop
$mrg-top-sct-dk: 3%;
$mrg-btm-sct-dk: 3%;

$text-quote: #ffffff;

// images
$pathImages: '../images/';
