.fade-bckg {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(black, 0.6);
    margin-top: 0;
}

#quote-section {
    background: url($pathImages + "../images/yoga.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    opacity: black 0.7;
}

.header-hero {
    position: absolute;
    text-align: center;
    font-size: 1.7em;
    color: $colorwhite;
    margin-top: 30vh;
    padding-left: 10%;
    padding-right: 10%;
    font-family: $font-title, serif;
	font-weight: 600;

    @media all and (min-width: 600px) {
        font-size: 2.2em;
    }
    @media all and (min-width: 1280px) {
        font-size: 2.7em;
    }
}

.violence-txt {
    text-align: justify;
}

.list-group-item:hover{
	color: $primaryColour;

}

.ellas {
  text-align: center;
  color: $primaryColour;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}
.small {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.video {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
	width: 100vw;
}
.steps-image img{
	height: 100vh;
	padding-left: 10px;
	width: 100vw;
}
.steps-video{
	display: flex;
	flex-direction: column;
	@media all and (min-width: 1000px){
		flex-direction: row;
	}

	margin: auto;

}
