.fade-bckg {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(black, 0.6);
    margin-top: 0;
}

#quote-bckg {
    background: url("../images/yoga.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}

.header-hero {
    text-align: center;
    color: #ffffff;
    margin-top: 50vh;
}
