#quote-section {
    background: url("/images/training.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    background-color: rgba(black, 0.7);
}

.header-hero {
    text-align: center;
    color: #ffffff;
    // margin-top: 50vh;
}
