*{
	box-sizing: border-box;
}
.faq-body{
	min-height: 100vh;
	font-family: inherit;
	background-color: $lightcolour;
}
//faq
.faq{
	margin: 20px;
	text-align: justify;
}

.faq-title{
	color: $primaryColour;
	margin-bottom: 30px;
	margin-left: 50px;
	@media all and (min-width: 576px){
		margin-left: 20px;
	}
	@media all and (min-width: 800px){
		margin-left: 5px;
	}
	text-align: left;
}
//FAQ
.card a{
	color: $primaryColour;
	display: block;
	text-align: left;

	&:hover{
		color: $lightsecondarycolour;
		text-decoration: none;
	}
}
//Formulario FAQ
.contactForm{
	background-color: lightgrey;
	padding: 10px;
	border-radius: 0.5em;
	margin-top: 40px;
	margin-bottom: 40px;
	p{
		margin-top: 30px;
		padding: 10px;
	}
}
.contactForm-title{
	color: $primaryColour;
	font-weight: bold;
	font-size: 30px;
	@media all and (min-width: 900px){
		font-size: 40px;
	}
	border-bottom: 3px dotted white;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}
.contactForm textarea{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid  $primaryColour 1px;
	border-radius: 0.5em;
	text-align: center;
	width: 100%;
	@media all and (min-width: 900px){
		width: 70%;
		margin-left: 15%;
	}
}
.emailSend{
	display: grid;
	width: 100%;
	@media all and (min-width: 900px){
		width: 70%;
		margin-left: 15%;
	}
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	#email{
		grid-column: 1 / 5;
		border-radius: 0.5em;
		border: solid  $primaryColour 1px;
	}
	#submit{
		grid-column: 5;
		border-radius: 10px;
		background-color: $lightsecondarycolour;
		color: white;
		border: 0;
		@media all and (min-width: 500px){
			margin-left: 20px;
		}
		@media all and (min-width: 700px){
			margin-left: 50px;
		}
	}
	grid-gap: 0.5em;
	padding-bottom: 40px;
	width: 100%;
}
