*{
	box-sizing: border-box;
}
.faq{
	margin: 20px;
	text-align: justify;
}
body{
	min-height: 100vh;
}
.faq-title{
	color: $primaryColour;
	margin-left: 50px;
	text-align: left;
}
.questions-listed{
	display: grid;
	grid-gap: 1em;
	margin-bottom: 10px;

	select{
	border-radius: 0.5em;
	border: solid  $primaryColour 1px;
}
}
.contactForm textarea{
	margin-top: 20px;
	border: solid  $primaryColour 1px;
	border-radius: 0.5em;
	text-align: center;
	width: 100%;
}
.emailSend{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	#email{
		grid-column: 1 / 5;
		border-radius: 0.5em;
		border: solid  $primaryColour 1px;
	}
	#submit{
		grid-column: 5;
		border-radius: 10px;
		background-color: $lightsecondarycolour;
		color: white;
		border: 0;
	}
	grid-gap: 0.5em;
	margin: 0;
	padding: 0px;
	width: 100%;
}
.questions-listed button{
	font-size: 14px;
	color: $primaryColour;
	background-color: $softcolour;
	border-radius: 0.5em;
	border: solid  $primaryColour 1px;
}
.arrow-down{
	width: 18px;
	height: 18px;
	padding-left: 5px;
}
.questions-listed-answer{
	display: none;
}
.show{
	display: block;
}
