//False Myths
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
  padding: 3%;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.myths, .links {
  margin-top: $mrg-top-sct-mv;
  @media all and (min-width: 600px){
    margin-top: $mrg-top-sct-tb;
  }
  @media all and (min-width: 1025px){
    margin-top: $mrg-top-sct-dk;
  }
}

// Top-5

.edge {
  margin-bottom: 30px;
}
.phototop1 {
  background-image: url($pathImages + 'Mireia-belmonte.jpg');
  max-width: 100%;
}
.phototop2 {
  background-image: url($pathImages + 'Carmen-martin.jpg');
  max-width: 100%;
}
.phototop3 {
  background-image: url($pathImages + 'Carolina-marin.jpg');
  max-width: 100%;
}
.phototop4 {
  background-image: url($pathImages + 'Garbine-muguruza.jpg');
  max-width: 100%;
}
.phototop5 {
  background-image: url($pathImages + 'Lydia-valentin.jpg');
  max-width: 100%;
}
