footer{
	background-color: $primaryColour;
	display: flex;
	justify-content: center;
	align-content: center;
	// height: 60px;
	width: 100%;

}
.footer-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
}
.footerlogo{
	width: 50px;
	height: 50px;
	grid-column: 1;
	display: flex;
	align-self: center;
	justify-content: center;
}
.contact{
	width: 50px;
	height: 50px;
	grid-column: 5;
}

@media all and (min-width: 700px){
}
