
//Header
header{
	background-color: $lightsecondarycolour;
}
.withinHeader{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.dropdown{
	grid-column: 1;
	grid-row: 1;
	display: flex;
	align-content: center;
	padding: 10px;
}
.burger{
	height: 25px;
	width: 25px;
	justify-content: center;
	align-self: center;
}

.dropdown-list{
	display: none;
	.dropdown-item{
		color: white;
	}

}
.show{
	display: block;
}
.logo{
	height: 80%;
	width: 80%;
	grid-column: 5;
	align-self: center;

}
