
//Header
header{
	background-color: $lightsecondarycolour;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.logo{
	height: 50px;
	width: 50px;
}
.burger{
	height: 25px;
	width: 25px;
	align-self: center;
}
