button{
	cursor: pointer;
}
a{
	cursor: pointer;
}

//Botón cerrar menú navigation
.menu-close{
top: 0;
background-color: rgba(0,0,0,0);
border: 0;
margin: 10px;
text-align: left;
}

//Botones faq-title
// .questions-listed button{
// 	font-size: 14px;
// 	color: $primaryColour;
// 	background-color: $softcolour;
// 	border-radius: 0.5em;
// 	border: solid  $primaryColour 1px;
// }
.arrow-down{
	width: 18px;
	height: 18px;
	padding-left: 5px;
}

.up-button {
	position: fixed;
	background-color: $primaryColour;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	z-index: 100;
	bottom: 0;
	right: 0;
	margin-right: 2%;
	margin-bottom: 2%;
	border: none;
}

.arrow {
	width: 20px;
	height: 20px;
	transform:rotate(0.5turn);
}

.down-btn-action {
	display: flex;
	position: absolute;
	background-color: $primaryColour;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: none;
	margin-left: 50%;
	margin-top: 27em;
}

.arrow-action {
	margin: auto;
	width: 20px;
	height: 20px;
}
