// CARD NEWS AND ANTI-NEWS
.newspage {
  background-color: $colornews;
}
.header-news,
.header-anti-news {
  background-color: $colortitles;
  padding: 15px 40px;
  margin: 80px auto 40px;
  color: $colorwhite;
  font-size: 30px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  @media (min-width: 321px) and (max-width: 768px) {
    font-size: 35px;
  }
  @media (min-width: 769px) {
    font-size: 45px;
  }
}
.header-anti-news {
  margin: 50px auto 40px;
}
.edge {
  margin-bottom: 30px;
  display: flex;
}
.card-news {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $colorwhite;
  margin: 0;
  .news-photo {
    background-size: cover;
    max-width: 100%;
    @include aspect-ratio(16,9);
    &.photo1 {
      background-image: url('../images/noruega.jpg');
    }
    &.photo2 {
      background-image: url('../images/lidiaoro.jpg');
    }
    &.photo3 {
      background-image: url('../images/alhambra.jpg');
    }
    &.photo4 {
      background-image: url('../images/retos.jpg');
    }
    &.photo5 {
      background-image: url('../images/embarazada.jpg');
    }
    &.photo6 {
      background-image: url('../images/paralimpicas.jpg');
    }
    &.photo7 {
      background-image: url('../images/play-football.jpg');
    }
    &.photo8 {
      background-image: url('../images/fucsia.jpg');
    }
    &.photo9 {
      background-image: url('../images/cover-sexismo.jpg');
    }
    &.photo10 {
      background-image: url('../images/Gala-Leon.jpg');
    }
    &.photo11 {
      background-image: url('../images/stopviolencia.jpg');
    }
    &.photo12 {
      background-image: url('../images/falda.jpg');
    }
  }
  .title-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .title-news,
  .title-antinews {
    padding: 12px 20px;
    color: $primaryColour;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
  }
}
.card-news {
  .card-flap {
    display: none;
  }
  &.show-card {
    .card-flap {
      display: flex;
    }
  }
}
.card-flap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: $colorwhite;
  top: 100%;
  height: auto;
  z-index: 2;
  .card-description {
    padding: 0 20px 15px;
    text-align: justify;
    p {
      font-size: 18px;
    }
  }
}

.btn-read {
  background: $intensecolour;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: $colorwhite;
  padding: 6px 30px 8px;
  position: relative;
  transition: all 0.1s 0s ease-out;
  font-size: 18px;
  &:hover{
    text-decoration: none;
    color: $colorwhite;
  }
}

// TOP-5

// .top-5 {
//   margin-bottom: 40px;
//   margin-top: 40px;
// }
.gap-top {
  margin-bottom: 30px;
}
.flipper {
  border: 5px solid $lightcolour;
  box-shadow: 0 0 5px $colorshadow;
  position: relative;
  transform-style: preserve-3d;
  transition: all ease 1s;
  height: auto;
  cursor: pointer;
  @include aspect-ratio(4,3);
  &.active {
    transform: rotateY(-180deg);
  }
  .top5-photo  {
    position: relative;
    background-size: cover;
    max-width: 100%;
    @include aspect-ratio(4,3);
    width: 100%;
    &.phototop1 {
      background-image: url($pathImages + 'Mireia-belmonte.jpg');
    }
    &.phototop2 {
      background-image: url($pathImages + 'Carmen-martin.jpg');
    }
    &.phototop3 {
      background-image: url($pathImages + 'Carolina-marin.jpg');
    }
    &.phototop4 {
      background-image: url($pathImages + 'Garbine-muguruza.jpg');
    }
    &.phototop5 {
      background-image: url($pathImages + 'Lydia-valentin.jpg');
    }
  }
  .front,
  .back {
    top: 0;
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
    background-color: $colorbackground;
    width: 100%;
    height: 100%;
    .title-nametop {
      color: $darkcolour;
      font-weight: bold;
      font-size: 33px;
      line-height: 45px;
    }
    .title-top {
      font-size: 23px;
      color: $colorwhite;
    }
  }
}
