// FORM-NEWS

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.form-news {
  display: flex;
  flex-direction: column;
  width: 100%;

}
