.newspage {
  background-color: #E1EDEB;
}

.edge {
  margin-bottom: 30px;
}

.photo1,
.photo4 {
  background-image: url('../images/img1.jpg');
  max-width: 100%;
}
.photo2,
.photo5 {
  background-image: url('../images/img2.jpg');
  max-width: 100%;
}
.photo3,
.photo6 {
  background-image: url('../images/img3.jpg');
  max-width: 100%;
}
