

.edge {
  margin-bottom: 30px;
}


.card-flap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom:30px;
  background-color: $colorwhite;
  top: 100%;
  height: auto;
  z-index: 2;

  .card-description {
    padding: 0 15px 15px;
    text-align: justify;
  }
}

.card-news {
  .card-flap{
    display: none;
  }
  &.show-card{
    .card-flap{
      display: flex;
    }
  }
}
// .hidden {
//   display: none;
// }



.photo1,
.photo4 {

  background-image: url('../images/img1.jpg');
  max-width: 100%;


}
.photo2,
.photo5 {
  background-image: url('../images/img2.jpg');
  max-width: 100%;
}
.photo3,
.photo6 {
  background-image: url('../images/img3.jpg');
  max-width: 100%;
}

.btn-read {
  justify-content: center;
  align-items: center;

  background: $intensecolour;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: $colorwhite;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-visibility {
  display: none;
}
